@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    height : auto;
    width : 100%;
    margin : 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
a:link{
    text-decoration: none;
}
header{
    background-color: #579c87;
    height: 150px;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 70px;
    transform: translateY(40%);
    color: #fdcb46;
}
.int h2{
    font-size: 80px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
    background: linear-gradient(to right, #0228dd 0%, #0670f3 40%,#229df9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    font-size: 40px;
    margin-left: 30px
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #579c87;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;    
}
footer a{
    color: #fdcb46;
    font-size: 30px;
    margin: 20px;
}
footer a:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake{
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.container-menu{
    font-family: 'alex_brushregular', Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.carte{
    margin-top: 50px;
    width: 1100px;
    background-color: #FFF5FE;
    box-shadow: 0 0.9px 2.4px rgba(0, 0, 0, 0.016), 0 2.2px 6px rgba(0, 0, 0, 0.022), 0 4.4px 12.2px rgba(0, 0, 0, 0.028), 0 9.1px 25.2px rgba(0, 0, 0, 0.034), 0 25px 69px rgba(0, 0, 0, 0.05);
}
.titre-carte{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}
.s_titres{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
#st1{
    margin: -30px 80px 70px 80px;
    width: 600px;
    color: #0228dd;
    font-size: 50px;
}
#st2{
    margin: -30px 90px 70px 90px;
    width: 520px;
    color: #0670f3;
    font-size: 50px;
}
#st3{
    margin: -30px 90px 70px 90px; 
    width: 480px; 
    color:  #229df9;
    font-size: 50px;
}
.img1{
    width: 100%; 
    float: left;
    margin: 0px 110px 0px 20px;
}
.img2{
    width: 100%;
    float: right;
    margin: 0px 20px 0px 110px;
}
.img3{
    width: 100%; 
    float: left;
    margin: 0px 60px 0px 20px;
}
.img4{
    width: 100%;
    float: right;
    margin: 0px 20px 0px 60px;
}
.img5{
    width: 100%;
    float: left;
    margin: 0px 35px 0px 20px;
}
.img6{
    width: 100%;
    float: right;
    margin: 0px 20px 0px 35px;
}     
.fromLeft1{
    display:inline-block;   
}
h2.fromLeft1:after{
    display:block;
    content: '';
    border-bottom: solid 3px #0228dd;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
h2.fromLeft1:after{
    transform-origin: 100% 50%;
}
h2.fromLeft1:hover:after{
    transform: scaleX(1);
    transform-origin: 0% 50%;
}
.fromLeft2{
    display:inline-block;   
}
h2.fromLeft2:after{
    display:block;
    content: '';
    border-bottom: solid 3px #0670f3;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
h2.fromLeft2:after{
    transform-origin: 100% 50%;
}
h2.fromLeft2:hover:after{
    transform: scaleX(1);
    transform-origin: 0% 50%;
}
.fromLeft3{
    display:inline-block;   
}
h2.fromLeft3:after{
    display:block;
    content: '';
    border-bottom: solid 3px #229df9;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
h2.fromLeft3:after{
    transform-origin: 100% 50%;
}
h2.fromLeft3:hover:after{
    transform: scaleX(1);
    transform-origin: 0% 50%;
}
.int{
    margin-bottom: 100px;
}
ul{
    list-style:none;    
}
li span{
    float: right;
    margin-top: -60px;
    margin-right: 40px;
    font-size: 26px;
    font-weight: bold;
}
.menus-tarifs{
    margin-bottom: 70px;
}
.menus-tarifs1{
    color: #0228dd;
}
.menus-tarifs2{
    color: #0670f3;
}
.menus-tarifs3{
    color: #229df9;
    margin-bottom: 70px;
}

/* very small screens */
@media only screen and (min-width: 320px) and (max-width: 424px){

    .carte{
        width: 350px;        
    }
    #st1{ 
        font-size: 18px;      
        margin-left: 80px;
        margin-top: -10px;
        margin-bottom: 30px;
        width: 1800px;
    }
    #st2{    
        font-size: 18px; 
        margin-left: 90px; 
        margin-top: -10px;
        margin-bottom: 30px;
        width: 2000px;
    }
    #st3{ 
        font-size: 18px; 
        margin-left: 90px;
        margin-top: -10px;
        margin-bottom: 30px;
        width: 2000px;
    }
    .img1{  
        width: 200%; 
        margin: 0px 0px 0px 20px;
    }
    .img2{
        width: 200%;
        margin: 0px 20px 0px 0px;
    }
    .img3{
        width: 200%;
        margin: 0px 0px 0px 20px;
    }
    .img4{
        width: 200%;
        margin: 0px 20px 0px 0px;
    }
    .img5{
        width: 200%;
        margin: 0px 0px 0px 20px;
    }
    .img6{
        width: 200%;
        margin: 0px 20px 0px 0px;
    }    
    p{        
        font-size: 20px;
        text-align: center;
        margin: 0px 20px 0px 20px;
    }
    li span{
        font-size: 20px;
        margin: -15px 150px 0px 0px;
    }
    .int h2{
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    h2{
        font-size: 30px;
    }
    .titre-carte{
        font-size: 30px;
        margin-bottom: 0px;
    }
    .int{
        margin-bottom: 60px;
    }
    footer a{
        font-size: 20px;
    }  
    .s_titres{
        margin-top: 30px;
    }
}

/* small screens */
@media only screen and (min-width: 425px) and (max-width: 767px){   
    
    .carte{
        width: 450px;        
    }
    #st1{ 
        font-size: 20px; 
        margin-top: -10px; 
        margin-bottom: 50px;
        margin-left: 80px;
        width: 800px;
    }
    #st2{    
        font-size: 20px; 
        margin-top: -5px;
        margin-bottom: 50px;
        margin-left: 90px;
        width: 800px;
    }
    #st3{ 
        font-size: 20px; 
        margin-top: -5px;
        margin-bottom: 50px;
        margin-left: 100px;
        width: 800px;
    }
    .img1{  
        width: 100%; 
        margin: 0px 0px 0px 20px;
    }
    .img2{
        width: 100%;
        margin: 0px 20px 0px 0px;
    }
    .img3{
        width: 100%;
        margin: 10px 0px 0px 20px;
    }
    .img4{
        width: 100%;
        margin: 10px 20px 0px 0px;
    }
    .img5{
        width: 100%;
        margin: 10px 0px 0px 20px;
    }
    .img6{
        width: 100%;
        margin: 10px 20px 0px 0px;
    }      
    p{        
        font-size: 24px;
        text-align: center;
        margin: 0px 20px 0px 20px;
    }
    li span{
        font-size: 24px;
        margin: -15px 200px 0px 0px;
    }
    .int{
        margin-bottom: 60px;
    }
    .int h2{
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    h2{
        font-size: 40px;
    }
    .titre-carte{
        font-size: 30px;
        margin-bottom: 0px;
    }
    footer a{
        font-size: 20px;
    }  
}

/* wide screens */
@media only screen and (min-width: 768px) and (max-width: 1023px){

    .carte{
        width: 850px;
    } 
    #st1{       
        margin-left: 80px;
        width: 540px;
        font-size: 40px;
    } 
    #st2{        
        margin-left: 100px; 
        width: 520px;
        font-size: 40px;  
    }
    #st3{        
        margin-left: 100px; 
        width: 510px;
        font-size: 40px; 
    }
    .img1{  
        width: 100%; 
        margin: 0px 0px 0px 20px;
    }
    .img2{
        width: 100%;
        margin: 0px 20px 0px 0px;
    }
    .img3{  
        width: 100%; 
        margin: 0px 0px 0px 20px;
    }
    .img4{
        width: 100%;
        margin: 0px 20px 0px 0px;
    }
    .img5{  
        width: 100%; 
        margin: 0px 0px 0px 20px;
    }
    .img6{
        width: 100%;
        margin: 0px 20px 0px 0px;
    }
    p{
        font-size: 30px;       
    }
    li span{      
        margin-top: -60px;
        margin-right: 40px;
        font-size: 30px;       
    }   
    .titre-carte{       
        margin-bottom: 0px;       
    } 
}

/* widescreen monitors */
@media only screen and (min-width: 1024px) and (max-width: 1920px){

    .carte{
        width: 1200px;
    }
    #st1{       
        margin-left: 90px;
        width: 440px;
        font-size: 50px;
    }    
    #st2{        
        margin-left: 100px; 
        width: 420px;
        font-size: 50px;
    }
    #st3{ 
        margin-left: 110px;
        width: 390px;
        font-size: 50px;
    }
    .img1{  
        width: 100%; 
        margin: 0px 0px 0px 20px;
    }
    .img2{
        width: 100%;
        margin: 0px 20px 0px 0px;
    }
    .img3{
        width: 100%;
        margin: 0px 30px 0px 20px;
    }
    .img4{
        width: 100%;
        margin: 0px 20px 0px 30px;
    }
    .img5{
        width: 100%;
        margin: 0px 10px 0px 20px;
    }
    .img6{
        width: 100%;
        margin: 0px 20px 0px 10px;
    }            
    p{ 
        margin-left: 60px;
        font-size: 34px;
    }
    li span{
        font-size: 34px;
        margin-top: -65px;
        margin-right: 60px;
    }    
}