@font-face {
    font-family: 'arizoniaregular';
    src: url('../fonts/arizonia/arizonia-regular-webfont.woff2') format('woff2'),
         url('../fonts/arizonia/arizonia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    height : auto;
    width : 100%;
    margin : 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
a:link{
    text-decoration: none;
}
header{
    background-color: #579c87;
    height: 150px;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 70px;
    transform: translateY(40%);
    color: #fdcb46;
}
.int h2{
    font-size: 80px;
    text-align: center;
}
p{
    font-size: 38px;
    margin-left: 40px;
    color: #3C1218;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #579c87;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;    
}
footer a{
    color: #fdcb46;
    font-size: 30px;
    margin: 20px;
}
footer a:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake{
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.container-menu{
    font-family: 'arizoniaregular', Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.carte{
    width: 1100px;
    background-color: #FCDFDB;
    box-shadow: 0 0.9px 2.4px rgba(0, 0, 0, 0.016), 0 2.2px 6px rgba(0, 0, 0, 0.022), 0 4.4px 12.2px rgba(0, 0, 0, 0.028), 0 9.1px 25.2px rgba(0, 0, 0, 0.034), 0 25px 69px rgba(0, 0, 0, 0.05);
}
.titre-carte{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}
.fa-music{    
    font-size: 70px;
    color: #FF4300;
    margin-top: 80px;
}
.note1{
    text-align: center;
}
.note2{
    display: flex;
    justify-content: center;
}
.note2 h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 80px;
}
.note2 i{  
    margin-top: 90px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    font-size: 80px;
}
.s_titres{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
#st1{
    margin: -30px 0px 70px 60px;
    width: 160px;
    color: #3C1218;
    font-size: 50px;
}
#st2{
    margin: -30px 0px 70px 70px;  
    width: 250px;
    color: #3C1218;
    font-size: 50px;
}
#st3{
    margin: -30px 0px 70px 50px;
    width: 330px;
    color: #3C1218;
    font-size: 50px;
}
.img1{
    width: 25%; 
    float: left;
    margin: 0px 110px 0px 20px;
}
.img2{
    width: 25%;
    float: right;
    margin: 0px 20px 0px 110px;
}
.img3{
    width: 25%; 
    float: left;
    margin: 0px 60px 0px 20px;
}
.img4{
    width: 25%;
    float: right;
    margin: 0px 20px 0px 60px;
}
.img5{
    width: 25%;
    float: left;
    margin: 0px 35px 0px 20px;
}
.img6{
    width: 25%;
    float: right;
    margin: 0px 20px 0px 35px;
}       
.fromLeft{
    display:inline-block;   
}
h2.fromLeft:after{
    display:block;
    content: '';
    border-bottom: solid 3px #3C1218;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
h2.fromLeft:after{
    transform-origin: 100% 50%;
}
h2.fromLeft:hover:after{
    transform: scaleX(1);
    transform-origin: 0% 50%;
}
.int{
    margin-bottom: 100px;
}
ul{
    list-style:none;    
}
li span{
    float: right;
    margin-top: -60px;
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
}

/* very small screens */
@media only screen and (min-width: 320px) and (max-width: 424px){

    h1{
        font-size: 60px;
    }
    .carte{
        width: 300px;        
    }
    #st1{ 
        font-size: 22px;      
        margin-left: 45px;
        margin-bottom: 30px;
        width: 80px;
    }
    #st2{    
        font-size: 22px; 
        margin-left: 20px; 
        margin-bottom: 30px;
        width: 120px;
    }
    #st3{ 
        font-size: 22px; 
        margin-left: 2px;
        margin-bottom: 30px;
        width: 150px;
    }
    .img1{  
        width: 18%; 
        margin: 10px 0px 0px 20px;
    }
    .img2{
        width: 18%;
        margin: 10px 20px 0px 0px;
    }
    .img3{
        width: 18%;
        margin: 10px 0px 0px 20px;
    }
    .img4{
        width: 18%;
        margin: 10px 20px 0px 0px;
    }
    .img5{
        width: 18%;
        margin: 10px 0px 0px 20px;
    }
    .img6{
        width: 18%;
        margin: 10px 20px 0px 0px;
    }    
    p{        
        font-size: 20px;
        text-align: center;
        margin: 0px 20px 0px 20px;
    }
    li span{
        font-size: 20px;
        margin: -15px 120px 0px 0px;
    }
    .fa-music{    
        font-size: 30px; 
        margin-top: 30px;       
    }
    .note2 i{  
        font-size: 30px;       
        margin-top: 20px;    
    }
    .note2 h2{
        font-size: 30px;
        margin-top: 20px;
    }
    .int h2{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
    .titre-carte{
        font-size: 30px;
    }
    .int{
        margin-bottom: 60px;
    }
    footer a{
        font-size: 15px;
    }  
    .s_titres{
        margin-top: 30px;
    }
}

/* small screens */
@media only screen and (min-width: 425px) and (max-width: 767px){   
    
    .carte{
        width: 450px;        
    }
    #st1{ 
        font-size: 24px;      
        margin-left: 50px;
        margin-bottom: 50px;
        width: 80px;
    }
    #st2{    
        font-size: 24px; 
        margin-left: 40px; 
        margin-bottom: 50px;
        width: 120px;
    }
    #st3{ 
        font-size: 24px; 
        margin-left: 15px;
        margin-bottom: 50px;
        width: 160px;
    }
    .img1{  
        width: 25%; 
        margin: 10px 0px 0px 20px;
    }
    .img2{
        width: 25%;
        margin: 10px 20px 0px 0px;
    }
    .img3{
        width: 25%;
        margin: 10px 0px 0px 20px;
    }
    .img4{
        width: 25%;
        margin: 10px 20px 0px 0px;
    }
    .img5{
        width: 25%;
        margin: 10px 0px 0px 20px;
    }
    .img6{
        width: 25%;
        margin: 10px 20px 0px 0px;
    }      
    p{        
        font-size: 24px;
        text-align: center;
        margin: 0px 20px 0px 20px;
    }
    li span{
        font-size: 24px;
        margin: -15px 200px 0px 0px;
    }
    .fa-music{    
        font-size: 40px; 
        margin-top: 30px;       
    }
    .note2{
        margin-top: -40px;
    }
    .note2 i{  
        font-size: 40px;
    }
    .note2 h2{
        font-size: 40px;
    }
    .int h2{
        font-size: 40px;
    }
    h2{
        font-size: 40px;
    }
    .titre-carte{
        font-size: 40px;
    }
    .int{
        margin-bottom: 60px;
    }
    footer a{
        font-size: 20px;
    }  
}

/* wide screens */
@media only screen and (min-width: 768px) and (max-width: 1023px){

    .carte{
        width: 850px;
    } 
    #st1{       
        margin-left: 60px;
        width: 120px;
        font-size: 38px;
    }    
    #st2{        
        margin-left: 70px; 
        width: 200px;
        font-size: 38px;
    }
    #st3{ 
        margin-left: 50px;
        width: 250px;
        font-size: 38px;
    }
    .img1{  
        width: 25%; 
        margin: 5px 80px 0px 20px;
    }
    .img2{
        width: 25%;
        margin: 5px 20px 0px 0px;
    }
    .img3{
        width: 25%;
        margin: 5px 35px 0px 20px;
    }
    .img4{
        width: 25%;
        margin: 5px 20px 0px 0px;
    }
    .img5{
        width: 25%;
        margin: 5px 10px 0px 20px;
    }
    .img6{
        width: 25%;
        margin: 5px 20px 0px 0px;
    }            
    p{ 
        margin-left: 20px;
        font-size: 30px;
    }
    li span{
        font-size: 24px;
        margin-top: -55px;
        margin-right: 20px;
    }    
}

/* widescreen monitors */
@media only screen and (min-width: 1024px) and (max-width: 1920px){

    .carte{
        width: 1200px;
    }
    #st1{       
        margin-left: 40px;
        width: 130px;
        font-size: 40px;
    }    
    #st2{        
        margin-left: 30px; 
        width: 200px;
        font-size: 40px;
    }
    #st3{ 
        margin-left: 40px;
        width: 270px;
        font-size: 38px;
    }
    .img1{  
        width: 25%; 
        margin: 0px 180px 0px 0px;
    }
    .img2{
        width: 25%;
        margin: 0px 0px 0px 180px;
    }
    .img3{
        width: 25%;
        margin: 0px 150px 0px 0px;
    }
    .img4{
        width: 25%;
        margin: 0px 0px 0px 150px;
    }
    .img5{
        width: 25%;
        margin: 0px 110px 0px 0px;
    }
    .img6{
        width: 25%;
        margin: 0px 0px 0px 110px;
    }            
    p{ 
        margin-left: 60px;
        font-size: 34px;
    }
    li span{
        font-size: 34px;
        margin-top: -65px;
        margin-right: 60px;
    }    
}






